:root {
  --SubHeaddingSize: 1rem;
  --TittlePeraSize: 0.9rem;
  --PeraFontWeight: 600;
}

.ChooseUSMainSection {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;

  article {
    padding: 0px 25px;
    h2 {
      color: var(--Blue);
      position: relative;
      left: 30px;
    }

    h3 {
      color: var(--lightgray);
      position: relative;
      left: 30px;
    }

    ul {
      margin-top: 50px;
      list-style: none;
      color: var(--gray);
      font-size: var(--TittlePeraSize);
      text-transform: capitalize;
      p {
        font-family: Muli_Bold;
      }
      li {
        margin-top: 10px;
        font-family: Muli_Bold;
      }

      li::before {
        content: "\2022";
        color: var(--Blue);
        font-weight: bold;
        display: inline-block;
        width: 1.5rem;
        margin-left: -1.5em;
      }
    }

    .DiscoverMoreBtn {
      padding: 8px 15px;
      text-decoration: none;
      color: #fff;
      border: none;
      outline: none;
      background-color: var(--buttonColor);
      text-align: center;
      font-weight: 700;
      border-radius: 25px;
      font-size: 1.3rem;
      margin-left: 30px;
      margin-top: 50px;
    }

    .DiscoverMoreBtn:hover {
      background-color: #000000;
      color: var(--Blue);
    }
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  figure video {
    width: 100%;
  }
}

@media (max-width: "700px") {
  // figure>div>div:nth-child(1),
  // figure>div>div:nth-child(2) img {}

  .ChooseUSMainSection {
    article {
      h2 {
        color: var(--Blue);
        position: relative;
        left: -30px;
      }
    }
  }
}
