// 

:root {
    --peraSize: .9rem;
    --peraFontWeight: 600;
    --Purpal: #9005bf;
}

.RecentWorksMain {
    margin-bottom: 80px;

    article {

        h2 {
            color: var(--Blue);
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;
        }

        p {
            text-transform: capitalize;
            font-size: var(--peraSize);
            color: var(--gray);
            margin-bottom: 50px;
            font-weight: var(--peraFontWeight);
            text-align: center;
        }
    }
}

.carousel-inner {
    height: 100vh;
}


.card1,
.card2,
.card3 {
    height: 100vh;
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-radius: 25px;

    img {
        margin: 50px 0px 0px 10%;
        display: inline-block;
        width: 100px;
    }

    div {

        position: absolute;
        bottom: 20px;

        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            width: 80%;
            text-align: center;


        }

        .DiscoverMoreBtn {
            padding: 8px 15px;
            text-decoration: none;
            color: #fff;
            border: none;
            outline: none;
            background-color: var(--buttonColor);
            text-align: center;
            font-weight: 700;
            border-radius: 25px;
            font-size: 1.3rem;
            text-align: center;
        }

        .DiscoverMoreBtn:hover {
            color: #000000;
            background-color: var(--Blue);
        }
    }
}

.card1 {
    background: url("../../images/figtree.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

    p {

        color: #106343;

    }
}

.card2 {
    background: url("../../images/Strong.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        color: #1583D6;
    }
}

.card3 {
    background: url("../../images/Gurukul.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        color: #FED45A;
    }
}

.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    background-image: url("../../images/left.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    opacity: .8;
    background-color: rgba(247, 247, 247, 0.466);
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-position-x: 1rem;

}

.carousel-control-prev:hover .carousel-control-prev-icon {

    background-color: rgb(247, 247, 247);
    opacity: 1;
}

.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-image: url("../../images/right.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    opacity: .8;
    background-color: rgba(247, 247, 247, 0.466);
    border-radius: 50%;
    background-position-x: 1.5rem;

}

.carousel-control-next:hover .carousel-control-next-icon {

    background-color: rgb(247, 247, 247);
    opacity: 1;
}

@media(max-width:700px) {
    .carousel-inner {
        height: 70vh;
    }


    .card1,
    .card2,
    .card3 {
        height: 70vh;
        padding-bottom: 80px;
        margin-bottom: 80px;
        border-radius: 25px;

        img {

            display: none;
        }
    }

    .carousel-control-prev-icon {
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
        background-position-x: none;
    }

    .carousel-control-next-icon {
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
        background-position-x: none;
    }
}