.Service_Card_Section {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;

    a {
        text-decoration: none;
        color: var(--gray);

    }


    .CardSection {
        width: 250px;
        height: 230px;
        border: 1.5px solid var(--borderColor);
        box-shadow: 3px 3px 3px var(--borderColor);
        border-radius: 10px;
        background-color: #fff;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        // z-index: 1;
        // overflow: hidden;

        img {
            width: 120px;
            margin-bottom: 30px;
        }

        #CardDownArrow1,
        #CardDownArrow2,
        #CardDownArrow3,
        #CardDownArrow4 {

            position: absolute;
            top: 208px;
            text-shadow: 3px 3px 2px var(--borderColor);
            font-size: 50px;
            color: var(--Blue);
            z-index: -1;
            display: none;

        }


    }

    .CardSection:hover .CardDownArrow {

        color: var(--bgTransparent);
    }

    .CardSection:hover {
        animation-name: hoverPop;
        animation-duration: .5s;
        animation-fill-direction: forward;
        // background-color: var(--bgTransparent);
    }


    @keyframes hoverPop {

        0%,
        100% {
            transform: scale(1);
        }

        33% {
            transform: scale(1.05);
        }

        66% {
            transform: scale(.90);
        }
    }
}




// other  




.CardSection::after {
    width: 100%;
    height: 0%;
    content: url("https://i.pinimg.com/originals/d1/15/d3/d115d3b2bd029c2c515eefaf3e1040bf.gif");
    position: absolute;
    left: 0px;
    color: var(--Blue);
    z-index: 0;
    border-radius:10px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.295);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    opacity: 0;
}
.CardSection:hover::after {
    width: 100%;
    height: 100%;
    // content: "See More";
    position: absolute;
    left: 0px;
    opacity: 1;
    color: var(--Blue);
    border-radius:10px;
    padding: 5px 15px;
    
}





.SecundCardSection {
width: 250px;
height: 230px;
border: 1.5px solid var(--borderColor);
box-shadow: 3px 3px 3px var(--borderColor);
border-radius: 10px;
background-color: #fff;
margin: 10px 0px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;

img {
    width: 120px;
    margin-bottom: 30px;
}
#CardDownArrow1,
#CardDownArrow2,
#CardDownArrow3,
#CardDownArrow4 {

    position: absolute;
    top: 208px;
    text-shadow: 3px 3px 2px var(--borderColor);
    font-size: 50px;
    color: var(--Blue);
    z-index: -1;
    display: none;

}
.SecundCardSection:hover .CardDownArrow {

color: var(--bgTransparent);
}

.SecundCardSection:hover {
animation-name: hoverPop;
animation-duration: .5s;
animation-fill-direction: forward;
// background-color: var(--bgTransparent);
}

.SecundCardSection::after {
    width: 100%;
    height: 0%;
    content: url("https://i.pinimg.com/originals/d1/15/d3/d115d3b2bd029c2c515eefaf3e1040bf.gif");
    position: absolute;
    left: 0px;
    color: var(--Blue);
    z-index: 0;
    border-radius:10px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.295);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    opacity: 0;
}
.SecundCardSection:hover::after {
   
    display:none;
}

}