:root {
    --gray: #4C4C53;
    --lightgray: #797979;
    --white: #ffffff;
    --buttonColor: #0181D9;
    --Blue: #0181D9;
    --bgTransparent: #0183d93a;
    --borderColor: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    background-color: #000;
    transition: 0.3s;
    z-index: 2;
    font-family: Muli-regular;
}

.header_height {
    height: 300px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: 0.6s;
}

.navbar .logo {
    width: 180px;
    position: absolute;
    top: 5px;
    left: 50px;
    cursor: pointer;
}


.navbar div a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 18px;
    color: #fff;
    font-weight: 700;
    position: relative;
    top: -5px;
}

.Main_menu {


    position: relative;
    left: 90px;
}

/* .navbar div a:hover {
    color: var(--Blue);
    border-bottom: 2px solid var(--Blue) !important;
} */
.activeClass{
    color: var(--Blue) !important;
    border-bottom: 2px solid var(--Blue) !important;
}
.page_menu {
    width: 40px;
    height: 40px;
    /* border: 2px solid rgba(0, 0, 0, 0.548); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 83, 66, 0.651);
    font-weight: 800;
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 50px;
    cursor: pointer;
}

.page_menu_btn_add_css {
    background-color: rgba(253, 8, 8, 0.651);
}
.ActiveClass{
    color: var(--Blue);
    border-bottom: 2px solid var(--Blue) !important;
}

@media(max-width:900px) {
    .page_menu {
        visibility: visible;
    }

    .page_menu .page_menu_button {
        color: #fff;
    }

    .header_height {
        height: 350px;
    }

    .Main_menu {
        display: none;
        transition: 0.6s;
        position: relative;
        left: 0px;
    }

    .ToggleClass {
        display: table;
        transition: 0.6s;
        position: relative;
        top: 0px;
    }

    .navbar div a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        padding: 10px 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
        top: 50px;
    }

    .navbar div a:hover {

        color: var(--Blue);
        border-bottom: 2px solid var(--Blue) !important;
    }



}

@media(min-width:900px) {

    .header_height {
        height: 50px;
    }

}

@media(max-width:350px) {

    .navbar .logo {
        width: 180px;
        position: absolute;
        top: 5px;
        left: 10px !important;
        cursor: pointer;
    }

    .page_menu {

        position: absolute;
        top: 5px;
        right: 15px;

    }
}